* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

body {
    background: linear-gradient(to bottom right, #5e59e8, #dbcdcd);
    background-attachment: fixed;
    color: #eff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* margin: 80px auto; */
}

.heading {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
}

.material-symbols-outlined {
    font-size: 2.5rem;
}

h1,
.score,
.target-container {
    margin-bottom: 20px;
}

.piano {
    /* width: 800px; */
    background-color: #141414;
    border-radius: 10px;
    padding: 35px 40px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b2b2b2;
}

.display-window {
    width: 150px;
    height: 50px;
    background: greenyellow;
}

.utility {
    display: flex;
    align-items: center;
}

.utility span {
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: 1rem;
}

.volume input {
    accent-color: #fff;
    outline: none;
}

.show-key input {
    width: 3.75rem;
    height: 1.875rem;
    appearance: none;
    background-color: #4b4b4b;
    border: none;
    border-radius: 1.875rem;
    position: relative;
}

.show-key input::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    height: 1.25rem;
    width: 1.25rem;
    background: #8c8c8c;
    border-radius: inherit;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}

.show-key input:checked::before {
    left: 35px;
    background: #fff;
}

.note-layout {
    display: flex;
    margin-top: 3rem;
}

.key {
    border-radius: 5px 5px 8px 8px;
    pointer-events: none;
}

.white {
    width: 90px;
    height: 295px;
    background: linear-gradient(#fff 96%, #eee 4%);
    border: 1px solid #000;
    border-top: 0.5px solid #fff;
}

.white:active {
    box-shadow: inset -5px 5px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.black {
    width: 55px;
    height: 190px;
    background: linear-gradient(#333, #000);
    margin-left: -30px;
    margin-right: -30px;
    z-index: 2;
    border-top: 0.5px solid #fff;
}

.black:active {
    box-shadow: inset -5px 5px 15px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #000, #434343);
}

/* .key-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
} */

/* .key {
    background: #fff;
    color: #333;
    margin: 10px;
    padding: 20px;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    pointer-events: none;
} */

.key.active {
    background: orange;
}

.button {
    margin: 30px;
}

button {
    background-color: #eff;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 10rem;
    font-size: 1.5rem;
}

button:hover {
    cursor: pointer;
}

.play-btn.hide {
    display: none;
}

.stop-btn.hide {
    display: none;
}

footer {
    text-align: center;
}

.modal-overlay {
    background-color: rgb(51, 51, 51, 0.92);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.modal-overlay.visible {
    display: flex;
}

.modal {
    background: white;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 500px;
}

.modal-btn {
    background: #333;
    color: white;
    font-size: 1rem;
    width: 8rem;
}