* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

body {
    background: linear-gradient(to bottom right, #5e59e8, #dbcdcd);
    background-attachment: fixed;
    color: #eff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Main content styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
}

h1,
.score,
.target-container {
    margin-bottom: 20px;
}

/* Piano layout styles */
.piano {
    background-color: #141414;
    border-radius: 15px;
    padding: 35px 40px;
    width: 800px;
    position: relative;
}

.piano header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b2b2b2;
}

.name {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 2.4rem;
}

.display-window {
    width: 230px;
    height: 78px;
    background: #527cf0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
}

.display-window p {
    font-family: 'Handjet', cursive;
    font-size: 3rem;
    color: #333;
}

.utility {
    display: flex;
    align-items: center;
}

.utility span {
    font-weight: 400;
    margin-bottom: 60px;
}

.volume-slider {
    position: absolute;
    left: 0.1rem;
    top: 50%;
    width: 90px;
    display: flex;
    flex-direction: column;
}

.volume-slider input {
    accent-color: #fff;
    outline: none;
    transform: rotate(-90deg);
}

.show-key {
    display: flex;
    flex-direction: column;
}

.show-key span {
    margin-bottom: 5px;
}

.show-key input {
    width: 3.75rem;
    height: 1.875rem;
    appearance: none;
    background-color: #4b4b4b;
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
    position: relative;
}

.show-key input::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    height: 1.25rem;
    width: 1.25rem;
    background: #8c8c8c;
    border-radius: inherit;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}

.show-key input:checked::before {
    left: 35px;
    background: #fff;
}

.note-layout {
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
}

.key {
    border-radius: 5px 5px 8px 8px;
    pointer-events: none;
    color: #a2a2a2;
    text-transform: uppercase;
    position: relative;
}

.key span {
    display: none;
}

.key.show span {
    display: block;
}

.white {
    width: 95px;
    height: 295px;
    background: linear-gradient(#fff 96%, #eee 4%);
    border: 1px solid #000;
    border-top: 0.5px solid #fff;
}

.white:active {
    box-shadow: inset -5px 5px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.black {
    width: 55px;
    height: 190px;
    background: linear-gradient(#333, #000);
    margin: 0 -28px 0 -28px;
    z-index: 2;
    border-top: 0.5px solid #fff;
}

.black:active {
    box-shadow: inset -5px 5px 15px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #000, #434343);
}

.key.active {
    background: orange;
    color: #333;
}

.note-layout .key span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 1.13rem;
    text-align: center;
}

.button {
    margin: 30px;
}

/* Game button styles */
button {
    background-color: #466bd1;
    color: #e2e2e2;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 10rem;
    font-size: 1.5rem;
}

button:hover {
    cursor: pointer;
}

.play-btn.hide {
    display: none;
}

.stop-btn.hide {
    display: none;
}

footer {
    text-align: center;
}

/* Game instructions modal styles */
.tooltip {
    position: absolute;
    bottom: 3.2rem;
    right: 0.1rem;
    font-size: 1.2rem;
    color: #333;
    visibility: hidden;
}

.help-btn {
    width: 50px;
    height: 50px;
    background: #527cf0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    font-family: Verdana, sans-serif;
}

.help-btn:hover .tooltip {
    visibility: visible;
}

.instruction-overlay {
    background-color: rgb(51, 51, 51, 0.92);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.instruction-overlay.visible {
    display: flex;
}

.instruction-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instruction-modal p,
.scoring {
    width: 90%;
    line-height: 1.5;
    text-align: justify;
}

.utility-tip {
    margin: 10px auto;
}

.tip,
.show-tip {
    font-weight: 600;
}

.scoring h3 {
    text-align: center;
}

.how,
.input-methods,
.scoring,
.keyboard {
    margin-top: 10px;
}

.scoring p {
    margin-bottom: 10px;
    width: 100%;
}

.keyboard-layout,
.score-rank {
    font-weight: 600;
}

.last-note {
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px auto;
}

.last-note p {
    width: 100%;
}

#close-btn {
    background: #bf0a0a;
    color: #fff;
    width: 2rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    margin: 0;
    border: none;
    border-radius: 2px;
}

/* Game-over modal styles */
.modal-overlay {
    background-color: rgb(51, 51, 51, 0.92);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.modal-overlay.visible {
    display: flex;
}

.modal,
.instruction-modal {
    background: white;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 500px;
}

.modal-btn {
    background: #333;
    color: white;
    font-size: 1rem;
    width: 8rem;
}